In [2]:
myList=[123,"hello", [1,3], True, False]

In [3]:
myList[-1]

False

In [4]:
myList[1]="merhaba"

In [5]:
myList

[123, 'merhaba', [1, 3], True, False]

In [6]:
type(myList)

list

In [8]:
type(myList[-2])

bool

In [9]:
type(myList[1])

str

In [10]:
myList[1].upper()

'MERHABA'

In [11]:
myList

[123, 'merhaba', [1, 3], True, False]

In [14]:
type(myList[1][2])

str

In [15]:
myList[1][2].upper()

'R'

In [17]:
myList=list("merhaba dünya")

In [18]:
myList

['m', 'e', 'r', 'h', 'a', 'b', 'a', ' ', 'd', 'ü', 'n', 'y', 'a']

In [20]:
myList[7]=""

In [21]:
myList

['m', 'e', 'r', 'h', 'a', 'b', 'a', '', 'd', 'ü', 'n', 'y', 'a']

In [24]:
myList.remove(myList[7])

In [25]:
myList

['m', 'e', 'r', 'h', 'a', 'b', 'a', 'd', 'ü', 'n', 'y', 'a']

In [27]:
myList=list("merhaba dünya")

In [28]:
myList

['m', 'e', 'r', 'h', 'a', 'b', 'a', ' ', 'd', 'ü', 'n', 'y', 'a']

In [29]:
myList.index(" ")

7

In [30]:
myList.pop(myList.index(" "))

' '

In [31]:
myList

['m', 'e', 'r', 'h', 'a', 'b', 'a', 'd', 'ü', 'n', 'y', 'a']

In [32]:
a={"adı":"murat"}

In [33]:
List2=list(a)

In [34]:
List2

['adı']

In [39]:
numberList=[1,5,6,[988,55]]

In [43]:
"numaralarım {} {}".format(numberList[-1][0], numberList[-1][1])

'numaralarım 988 55'

In [47]:
MyList2=["once ", "upon ", "a ", "time"]

In [48]:
myString="".join(MyList2)

In [49]:
myString

'once upon a time'

In [52]:
MyList2

['once ', 'upon ', 'a ', 'time']

In [53]:
"a " in MyList2

True

In [54]:
myString*5

'once upon a timeonce upon a timeonce upon a timeonce upon a timeonce upon a time'

In [55]:
MyList2*5

['once ',
 'upon ',
 'a ',
 'time',
 'once ',
 'upon ',
 'a ',
 'time',
 'once ',
 'upon ',
 'a ',
 'time',
 'once ',
 'upon ',
 'a ',
 'time',
 'once ',
 'upon ',
 'a ',
 'time']

In [57]:
MyList2+MyList2

['once ', 'upon ', 'a ', 'time', 'once ', 'upon ', 'a ', 'time']

In [58]:
[1,10,100]>[1,11,100]

False

In [59]:
[1,10,100]<[1,11,100]

True

In [ ]:
kullanıcıdan alacağınız kelimenin toplam karakter sayısını bir listeye ekleyen programı yazalım

In [61]:
LenList=[]

In [60]:

kelime=input("bir kelime giriniz")
LenList.append(len(kelime))
LenList

bir kelime girinizmerhaba

[7]

In [64]:
myList=list(range(1,11))

In [65]:
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

any() ve All()

In [66]:
True and False and True and True

False

In [67]:
0 or 1 or 0 or 0

1

In [68]:
False or True or False

True

In [69]:
0 or "merhaba" or 0

'merhaba'

In [70]:
bool("merhaba")

True

In [71]:
a=[1,0,1]

In [72]:
any(a)

True

In [73]:
all(a)

False

In [74]:
b=[0,0,"hello"]

In [75]:
any(b)

True

In [76]:
all(b)

False

In [ ]:
any or'lar
all and'ler

In [78]:
myFruits=["elma", "armut"]

In [79]:
myFruits[-1]="kiraz"

In [80]:
myFruits

['elma', 'kiraz']

In [81]:
myFruits[:1]="kivi"

In [83]:
myFruits+["limon"]

['k', 'i', 'v', 'i', 'kiraz', 'limon']

In [85]:
myFruits.append([1,2,3])

In [86]:
myFruits.extend([1,2,3])

In [87]:
myFruits

['k', 'i', 'v', 'i', 'kiraz', [1, 2, 3], 1, 2, 3]

In [91]:
min(myFruits)

TypeError: '<' not supported between instances of 'list' and 'str'

In [93]:
RangeList=list(range(1,100,2))

In [97]:
min(RangeList)

1

In [98]:
myStringList=['once ', 'upon ', 'a ', 'time', 'once ', 'upon ', 'a ', 'time']

In [101]:
max(myStringList)

'upon '

In [ ]:
range ile 0 ile 100 arası ikişer ikişer atlayan bir bir liste oluşturalım ve bu listedeki 88, "istanbul" yerleştirelim.

In [102]:
myNumbers=list(range(0,100,2))

In [104]:
myNumbers.index(88)

44

In [ ]:
x=myNumbers.index(88)+1

In [ ]:
44

In [105]:
myNumbers.insert(44, "istanbul")

In [ ]:
myNumbers.append()

In [107]:
myTuple=("hello", 1, [5, 8, 10], True, 5.0)

In [108]:
myTuple

('hello', 1, [5, 8, 10], True, 5.0)

In [109]:
myTuple2="hello", "merhaba", 5, 7

In [110]:
myTuple2

('hello', 'merhaba', 5, 7)

In [111]:
myTuple3=("elma")

In [113]:
type(myTuple3)

str

In [114]:
myTuple3=("elma",)

In [115]:
myTuple3

('elma',)

In [116]:
type(myTuple3)

tuple

In [118]:
myString="armut"

In [119]:
myString="armut",

In [121]:
type(myString)

tuple

In [124]:
names=("ali", "mehmet", "hasan", "ahmet")

In [125]:
isim1, isim2, isim3, isim4=names

In [126]:
isim2

'mehmet'

In [127]:
tuple1="elma", 
tuple2=("armut", "kiraz")

In [129]:
tuple3=tuple1+tuple2

In [130]:
tuple3

('elma', 'armut', 'kiraz')

In [131]:
tuple3[-1]

'kiraz'

In [132]:
tuple3[1:]

('armut', 'kiraz')

In [133]:
tuple3[-1]="vişne"

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple()

In [ ]:
list()

In [134]:
tuple("merhaba")

('m', 'e', 'r', 'h', 'a', 'b', 'a')

In [135]:
tuple([1,5,9,11])

(1, 5, 9, 11)

In [136]:
tuple({1:"one", 2:"two"})

(1, 2)

In [137]:
myNewTuple="merhaba", 1, 5, [25, "hello", 15]

In [138]:
myNewTuple

('merhaba', 1, 5, [25, 'hello', 15])

In [142]:
myNewTuple[-1][1]="merhaba"

In [143]:
myNewTuple

('merhaba', 1, 5, [25, 'merhaba', 15])

In [146]:
myNewTuple[-1].append("yeni bir şey")

In [147]:
myNewTuple

('merhaba', 1, 5, [25, 'merhaba', 15, 'yeni bir şey'])

In [148]:
myNewTuple[-1].insert(1, "başka bir şey")

In [149]:
myNewTuple

('merhaba', 1, 5, [25, 'başka bir şey', 'merhaba', 15, 'yeni bir şey'])

In [157]:
myNewString=myNewTuple[-1][-1].replace("y", "ooo")

In [158]:
myNewString

'oooeni bir şeooo'

In [156]:
myNewTuple

('merhaba', 1, 5, [25, 'başka bir şey', 'merhaba', 15, 'yeni bir şey'])

In [159]:
yeniTuple="elma", "armut", "kiraz"

In [160]:
yeniTuple

('elma', 'armut', 'kiraz')

In [161]:
newList=list(yeniTuple)

In [163]:
newList[-1]="visne"

In [164]:
newList

['elma', 'armut', 'visne']

In [165]:
yeniTuple=tuple(newList)

In [166]:
yeniTuple

('elma', 'armut', 'visne')

In [169]:
yeniTuple.count(" ")

0

In [171]:
yeniTuple.index("visne")

2

In [172]:
 yeniTuple

('elma', 'armut', 'visne')

In [173]:
ikinciTuple=1,2,5,10

In [174]:
ikinciTuple

(1, 2, 5, 10)

In [175]:
del yeniTuple

In [176]:
yeniTuple

NameError: name 'yeniTuple' is not defined

In [177]:
del ikinciTuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [178]:
ikinciTuple

(1, 2, 5, 10)

In [179]:
2 in ikinciTuple

True

In [181]:
max(ikinciTuple)

10

In [ ]:
min()

In [184]:
yeniTuple="elma", "armut", "kiraz"

In [185]:
min(yeniTuple)

'armut'

In [186]:
max(yeniTuple)

'kiraz'

SET'ler

In [188]:
dir({1,3})

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [189]:
mySet={"apple", "banana", "cherry", "apple"}

In [190]:
mySet

{'apple', 'banana', 'cherry'}

In [191]:
mySet={[1,5,9], "banana", 1, 5}

TypeError: unhashable type: 'list'

In [192]:
mySet2={(1,5), "banana", 5, 10}

In [193]:
mySet2

{(1, 5), 10, 5, 'banana'}

In [194]:
mySet3={{"a":1, "b":2}, "banana", 1, 10}

TypeError: unhashable type: 'dict'

In [195]:
mySet={}

In [196]:
type(mySet)

dict

In [197]:
mySet=set()

kullanıcıdan alacağınız bir kelimenin içinde tekrar eden elemanları teke düşürerek bir liste haline getiren programı yazınız.

In [198]:
kelime=input("bir kelime giriniz")
myList=list(set(kelime))
myList

bir kelime girinizaraba

['a', 'r', 'b']

In [199]:
dicti={1:"one", 2:"two"}

In [200]:
set(dicti)

{1, 2}

In [202]:
mySet.add(10)

In [204]:
mySet.add(11)

In [205]:
mySet

{10, 11}

In [206]:
mySet.add(15)

In [207]:
mySet

{10, 11, 15}

In [211]:
mySet.add((15,22))

In [212]:
mySet

{(15, 22), 10, 11, 15, 16}

In [213]:
num={1,2,3,5}
num2={5,7,9,11}

In [214]:
num.update(num2)

In [215]:
num

{1, 2, 3, 5, 7, 9, 11}

In [216]:
num={1,2,3,5}
num2={5,7,9,11}
num3={"merhaba", 5.0, True}
num4={"hello"}

In [217]:
num.update(num2, num3, num4)

In [218]:
num

{1, 11, 2, 3, 5, 7, 9, 'hello', 'merhaba'}

In [220]:
num

{1: 'one', 2: 'two'}

In [221]:
dicti2={11:"onbir", 12:"oniki"}

In [222]:
num.update(dicti2)

In [223]:
num

{1, 11, 12, 2, 3, 5, 7, 9, 'hello', 'merhaba'}

In [224]:
num.pop()

1

In [225]:
num

{11, 12, 2, 3, 5, 7, 9, 'hello', 'merhaba'}

In [226]:
num.pop()

2

In [227]:
num.pop()

3

In [228]:
num

{11, 12, 5, 7, 9, 'hello', 'merhaba'}

In [229]:
s1={1,5,9,6,7}
s2={6,9,11,88,101}

In [230]:
s1.union(s2)

{1, 5, 6, 7, 9, 11, 88, 101}

In [231]:
s1|s2

{1, 5, 6, 7, 9, 11, 88, 101}

In [232]:
s1.intersection(s2)

{6, 9}

In [233]:
s1&s2

{6, 9}

In [234]:
s1

{1, 5, 6, 7, 9}

In [235]:
s2

{6, 9, 11, 88, 101}

In [236]:
s1.intersection_update(s2)

In [237]:
s1

{6, 9}

In [238]:
s2

{6, 9, 11, 88, 101}

In [239]:
s2.intersection_update(s1)

In [240]:
s2

{6, 9}

In [243]:
s1={1,5,9,6,7}
s2={6,9,11,88,101}

In [244]:
s1.difference(s2)

{1, 5, 7}

In [247]:
s2.difference(s1)

{11, 88, 101}

In [248]:
s1-s2

{1, 5, 7}

In [249]:
s2-s1

{11, 88, 101}

In [250]:
s1

{1, 5, 6, 7, 9}

In [251]:
s2

{6, 9, 11, 88, 101}

In [252]:
s1.difference_update(s2)

In [253]:
s1

{1, 5, 7}

In [255]:
nums1 = {1,2,3,4,5}
nums2 = {4,5,6,7,8}

In [256]:
nums1.symmetric_difference(nums2)

{1, 2, 3, 6, 7, 8}

In [257]:
nums1.symmetric_difference_update(nums2)

In [258]:
nums1

{1, 2, 3, 6, 7, 8}

In [ ]:
isdisjoint()

In [259]:
nums1 = {1,2,3,4,5}
nums2 = {4,5,6,7,8}

In [261]:
nums1.isdisjoint(nums2)

False

In [262]:
nums1 = {1,2,3,}
nums2 = {6,7,8}

In [263]:
nums1.isdisjoint(nums2)

True

In [264]:
A = {1,2,5,8,9,12}
B = {1,2,5}

In [265]:
B.issubset(A)

True

In [267]:
A = {1,2,5,8,9,12}
B = {99,100}

In [268]:
A.update(B)

In [269]:
A

{1, 2, 5, 8, 9, 12, 99, 100}

In [270]:
A2=frozenset(A)

In [271]:
A2

frozenset({1, 2, 5, 8, 9, 12, 99, 100})

In [272]:
A2.update({44,55})

AttributeError: 'frozenset' object has no attribute 'update'

DICTIONARY

In [273]:
mySozluk={}

In [274]:
dir(mySozluk)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [276]:
Sozluk1={1:"one", 2:"two"}

sozluk2={1.5:"merhaba", 2.0:"hello"}

In [278]:
sozluk3={(1,5):"merhaba", (5.9,7):"hello"}

In [279]:
sozluk3

{(1, 5): 'merhaba', (5.9, 7): 'hello'}

In [280]:
sozluk4={1:[2,5,6]}

In [281]:
sozluk4

{1: [2, 5, 6]}

In [283]:
sozluk5={"string":[1,8,9]}

In [284]:
sozluk5

{'string': [1, 8, 9]}

In [285]:
sozluk6={{1:"bir"}:"hello"}

TypeError: unhashable type: 'dict'

In [286]:
sozluk6={"hello":{1:"bir"}}

In [287]:
sozluk6

{'hello': {1: 'bir'}}

In [291]:
ailem={"babam":{"adı":"murat", "yaş": 40, "hobileri":{
    
    1:"futbol oynamak",
    2:"yüzmek"
    
    
}}, "anne":{"adı":"ayşe", "yaş": 35, "hobileri":{
    
    1:"kitap okumak",
    2:"yüzmek"
    
    
}}}

In [292]:
ailem

{'babam': {'adı': 'murat',
  'yaş': 40,
  'hobileri': {1: 'futbol oynamak', 2: 'yüzmek'}},
 'anne': {'adı': 'ayşe',
  'yaş': 35,
  'hobileri': {1: 'kitap okumak', 2: 'yüzmek'}}}

In [293]:
d={}

In [294]:
d["key"]="value"

In [297]:
d["1"]="one"

In [298]:
d

{'key': 'value', '1': 'one'}

In [300]:
ailem["cocuk"]={"adı":"ali", "yaş":5}

In [301]:
ailem

{'babam': {'adı': 'murat',
  'yaş': 40,
  'hobileri': {1: 'futbol oynamak', 2: 'yüzmek'}},
 'anne': {'adı': 'ayşe',
  'yaş': 35,
  'hobileri': {1: 'kitap okumak', 2: 'yüzmek'}},
 'cocuk': {'adı': 'ali', 'yaş': 5}}

In [302]:
ailem["cocuk"]["hobileri"]={1:"oyun oynamak", 2:"ağlamak"}

In [303]:
ailem

{'babam': {'adı': 'murat',
  'yaş': 40,
  'hobileri': {1: 'futbol oynamak', 2: 'yüzmek'}},
 'anne': {'adı': 'ayşe',
  'yaş': 35,
  'hobileri': {1: 'kitap okumak', 2: 'yüzmek'}},
 'cocuk': {'adı': 'ali',
  'yaş': 5,
  'hobileri': {1: 'oyun oynamak', 2: 'ağlamak'}}}

In [304]:
ailem["cocuk"]["hobileri"][2]

'ağlamak'

In [305]:
ailem.get("anne")

{'adı': 'ayşe', 'yaş': 35, 'hobileri': {1: 'kitap okumak', 2: 'yüzmek'}}

In [307]:
ailem.get("babaanne", "bunu döndür")

'bunu döndür'

In [308]:
ailem.keys()

dict_keys(['babam', 'anne', 'cocuk'])

In [309]:
ailem.values()

dict_values([{'adı': 'murat', 'yaş': 40, 'hobileri': {1: 'futbol oynamak', 2: 'yüzmek'}}, {'adı': 'ayşe', 'yaş': 35, 'hobileri': {1: 'kitap okumak', 2: 'yüzmek'}}, {'adı': 'ali', 'yaş': 5, 'hobileri': {1: 'oyun oynamak', 2: 'ağlamak'}}])

In [310]:
ailem.items()

dict_items([('babam', {'adı': 'murat', 'yaş': 40, 'hobileri': {1: 'futbol oynamak', 2: 'yüzmek'}}), ('anne', {'adı': 'ayşe', 'yaş': 35, 'hobileri': {1: 'kitap okumak', 2: 'yüzmek'}}), ('cocuk', {'adı': 'ali', 'yaş': 5, 'hobileri': {1: 'oyun oynamak', 2: 'ağlamak'}})])

In [311]:
ailem.items()

TypeError: 'dict_items' object is not subscriptable

In [312]:
"babam" in ailem

True

In [313]:
ailem["babane"]="Fatma"

In [314]:
ailem

{'babam': {'adı': 'murat',
  'yaş': 40,
  'hobileri': {1: 'futbol oynamak', 2: 'yüzmek'}},
 'anne': {'adı': 'ayşe',
  'yaş': 35,
  'hobileri': {1: 'kitap okumak', 2: 'yüzmek'}},
 'cocuk': {'adı': 'ali',
  'yaş': 5,
  'hobileri': {1: 'oyun oynamak', 2: 'ağlamak'}},
 'babane': 'Fatma'}

In [315]:
mySozlük={"sıra1":[1,5,7]}

In [318]:
mySozlük["sıra1"].append(10)

In [321]:
mySozlük={"sıra1":{1,5,7}}

In [323]:
mySozlük["sıra1"].add(555)

In [324]:
mySozlük

{'sıra1': {1, 5, 7, 555}}

In [325]:
isimler="ahmet", "mehmet", "ali"

In [326]:
adresler=dict.fromkeys(isimler, "istanbul")

In [327]:
adresler

{'ahmet': 'istanbul', 'mehmet': 'istanbul', 'ali': 'istanbul'}

kullanıcıdan iki ayrı sayı alınız ve her iki sayının da rakamlarında bir liste oluşturup bu listeyi tek bir liste olarak birleştiriniz

In [331]:
sayı1=input("sayı giriniz")
sayı2=input("sayı giriniz")
sayı1=list(sayı1)
sayı2=list(sayı2)
sayı3=sayı1+sayı2
sayı3

sayı giriniz15
sayı giriniz25

['1', '5', '2', '5']

kullanıcı adı ve soyadının olduğu bir sözlük yapısı oluşturunuz ve kullanıcıdan alacağınız yaş bilgisini sözlüğe ekleyen bir program yazınız

In [336]:
kullanıcı={"adi":"murat", "soyadı":"akca"}
yas=input("yaşınız")
kullanıcı["yas"]=int(yas)
kullanıcı

yaşınız25

{'adi': 'murat', 'soyadı': 'akca', 'yas': 25}

In [ ]:
kullanıcıdan alınan iki kelimenin alfabetik olarak önde olanı ekrana bastıran bir program yazalım.


boş liste oluştur
kullanıcıdan birinci kelimeyi al
bu kelimeyi listeye ekle
ikinci kelimeyi al
listeye ekle
son olarak alfabetik olarak önde olanı ekrana bas

In [333]:
sayı1=input("sayı giriniz")
sayı2=input("sayı giriniz")
print(list(sayı1).extend(list(sayı2)))

sayı giriniz15
sayı giriniz25
None

kullanıcıdan alacağınız kelimenin toplam karekter sayısını bir listeye ekleyen programı yazalım

içinde  7 sayı  bir liste oluşturunuz ve kullanıcıdan alacağınız kelimeyi listenin iki sırasına ekleyen bir program yazınız

kullanıcıdan aldığını string bir ifadeyi listeye çeviren bir program yazınız

kullanıcıda iki ayrı sayı alınız ve her iki sayının da rakamlarında bir liste oluşturup bu listeyi tek bir liste olarak birleştiriniz

1-10'a kadar sayıların olduğu bir liste oluşturunuz, kullanıcıdan 1-9 arası bir sayı isteyiniz ve aldığının sayıyı listedeki index değerini döndürünüz

kullanıcı adı ve soyadının olduğu bir sözlük yapısı oluşturunuz ve kullanıcıdan alacağınız yaş bilgisini sözlüğe ekleyen bir program yazınız