In [10]:
import pandas as pd
import numpy as np

In [11]:
pd.__version__

'1.3.4'

In [12]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.3.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)

Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [13]:
pd.__version__

'1.3.4'

In [15]:
d = [1,5,9,11,15]
seri = pd.Series(data=d)
seri

0     1
1     5
2     9
3    11
4    15
dtype: int64

In [16]:
type(seri)

pandas.core.series.Series

In [17]:
seri1 = pd.Series(data = [[1,5,6], [3,5,9]])
seri1

0    [1, 5, 6]
1    [3, 5, 9]
dtype: object

In [18]:
type(seri1)

pandas.core.series.Series

In [20]:
df = pd.DataFrame(data = d)
df

    0
0   1
1   5
2   9
3  11
4  15

In [21]:
seri1.shape

(2,)

In [22]:
df2 = pd.DataFrame(data = [[1,5,6], [6,7,8]])
df2

   0  1  2
0  1  5  6
1  6  7  8