# Practice: Pandas

### "internet users" data seti üzerinde bazı değişiklikler yapıyoruz.

In [1]:
import pandas as pd

In [2]:
# Dosyayı okuturken bir değişkene atıyoruz.
df = pd.read_csv("users.csv")
df.head()

  Country or area           Subregion    Region Internet users     Population
0           China        Eastern Asia      Asia  1,010,740,000  1,427,647,786
1           India       Southern Asia      Asia    833,710,000  1,352,642,280
2   United States    Northern America  Americas    312,320,000    327,096,265
3       Indonesia  South-eastern Asia      Asia    196,000,000    267,670,543
4          Brazil       South America  Americas    160,010,801    209,469,323

In [3]:
df.info()   
# 214 satır, 5 sütun
# dtype'larına bakıyoruz.Sayılar object ise bunları değiştiriyoruz.(Internet users, population)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or area  214 non-null    object
 1   Subregion        214 non-null    object
 2   Region           214 non-null    object
 3   Internet users   214 non-null    object
 4   Population       212 non-null    object
dtypes: object(5)
memory usage: 8.5+ KB

In [4]:
df["Internet users"]

0      1,010,740,000
1        833,710,000
2        312,320,000
3        196,000,000
4        160,010,801
           ...
209            2,906
210            2,881
211            2,833
212            1,383
213            1,034
Name: Internet users, Length: 214, dtype: object

In [5]:
#!!!Dikkat
# önce dtype'ını değiştireceğiz.
#normalde .astype("int64") yazarak değiştirebiliriz.Ancak burada virgüller olduğu için hata verir.
df["Internet users"].astype("int64")

ValueError: invalid literal for int() with base 10: '1,010,740,000'

In [6]:
# basitçce replace ile virgüllerden kurtulabiliriz. Ancak aşağıda lambda fonksiyonuyla yapacağız. 
# Burada replace ile küçük bir örnek. Birinci elemanını virgülden kurtaralım.
df["Internet users"][0].replace(",", "")

'1010740000'

In [7]:
# apply'ın içine bir lambda fonksiyonu yazabiliriz.Bu şekilde hepsine ulaşıp değiştirebiliriz.
# Eğer bunu kendisine eşitlemezsek değişiklik kalıcı olmaz.

df["Internet users"] = df["Internet users"].apply(lambda x: x.replace(",", "")) 

# fonksiyona x olarak virgül girecek ve boş çıkacak.
# bunun dışına direkt .astype("int64") de ekleyebilirdik. Ancak aşağıda ayrı bir işlem olarak yaptık.

In [8]:
df["Internet users"]  # virgüllerden kurtulduk.

0      1010740000
1       833710000
2       312320000
3       196000000
4       160010801
          ...
209          2906
210          2881
211          2833
212          1383
213          1034
Name: Internet users, Length: 214, dtype: object

In [9]:
# virgüllerden kurtulduktan sonra dytpe'ı değiştirebiliriz.Yine kendisine eşitliyoruz.
df["Internet users"] = df["Internet users"].astype("int64")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or area  214 non-null    object
 1   Subregion        214 non-null    object
 2   Region           214 non-null    object
 3   Internet users   214 non-null    int64
 4   Population       212 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.5+ KB

In [11]:
# populasyon değişkeni için de benzer işlemleri yapacağız ancak 2 nan değer var. 
# Ayrı ayrı yapmak yerine nan'ları dışarıda tutarak hemen apply'ı uyguluyoruz. Yine kendine eşitledik.
df["Population"]=df["Population"].dropna().apply(lambda x: x.replace(",", "")).astype("int64")

In [12]:
df.info() # nan değerler olduğu için float64 olarak görüyor.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or area  214 non-null    object
 1   Subregion        214 non-null    object
 2   Region           214 non-null    object
 3   Internet users   214 non-null    int64
 4   Population       212 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 8.5+ KB

In [13]:
df.head()

  Country or area           Subregion    Region  Internet users    Population
0           China        Eastern Asia      Asia      1010740000  1.427648e+09
1           India       Southern Asia      Asia       833710000  1.352642e+09
2   United States    Northern America  Americas       312320000  3.270963e+08
3       Indonesia  South-eastern Asia      Asia       196000000  2.676705e+08
4          Brazil       South America  Americas       160010801  2.094693e+08

In [14]:
# yeni bir sütun ekleyeceğiz. Population ile Internet users'ı oranlayacağız.
# Sütunun ismini belirliyoruz.Populasyonun ne kadarı internet kullanıyor?
df["InternetRate(%)"]= (df["Internet users"] / df["Population"]) * 100

In [15]:
df

,Country or area,Subregion,Region,Internet users,Population,InternetRate(%)
0,China,Eastern Asia,Asia,1010740000,1.427648e+09,70.797574
1,India,Southern Asia,Asia,833710000,1.352642e+09,61.635660
2,United States,Northern America,Americas,312320000,3.270963e+08,95.482594
3,Indonesia,South-eastern Asia,Asia,196000000,2.676705e+08,73.224344
4,Brazil,South America,Americas,160010801,2.094693e+08,76.388656
...,...,...,...,...,...,...
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,2906,6.035000e+03,48.152444
210,Falkland Islands,South America,Americas,2881,3.234000e+03,89.084725
211,Montserrat,Caribbean,Americas,2833,4.993000e+03,56.739435
212,Wallis and Futuna,Polynesia,Oceania,1383,1.166100e+04,11.860046
213,Niue,Polynesia,Oceania,1034,1.620000e+03,63.827160

In [16]:
# Internet Rate'i % 80'nin üzerinde olan ülkeleri başarılı gösteren bir sütun daha ekleyelim.
# Bunu map yöntemiyle çözebiliriz.

In [17]:
# Kıtalara göre ortalamaları bulalım.(groupby)
df.groupby("Region").mean()

          Internet users    Population  InternetRate(%)
Region
Africa      8.264449e+06  2.316748e+07        27.722245
Americas    1.733144e+07  2.239789e+07        64.717349
Asia        6.107710e+07  9.279936e+07        64.337629
Europe      1.515035e+07  1.801096e+07        83.813647
Oceania     1.539918e+06  2.301208e+06        47.297506

In [18]:
# Yine kıtalara göre sadece int rate'in ortalamalarını bulalım.
df.groupby("Region").mean()["InternetRate(%)"]

Region
Africa      27.722245
Americas    64.717349
Asia        64.337629
Europe      83.813647
Oceania     47.297506
Name: InternetRate(%), dtype: float64

In [19]:
# df "country or area" sütunu içinde sadece Turkey'i görmek istersek...
df[df["Country or area"]=="Turkey"]

,Country or area,Subregion,Region,Internet users,Population,InternetRate(%)
14,Turkey,Southern Europe,Europe,69945905,82340088.0,84.947571

In [20]:
# ya da ülkelere ulaşmak için set_index() ile ülke isimlerini index olarak belirleyip ulaşabiliriz. 
# inplace=True ile kalıcı hale getirdik. Artık yeni indeximiz ülkeler.
df.set_index("Country or area")

,Subregion,Region,Internet users,Population,InternetRate(%)
Country or area,,,,,
China,Eastern Asia,Asia,1010740000,1.427648e+09,70.797574
India,Southern Asia,Asia,833710000,1.352642e+09,61.635660
United States,Northern America,Americas,312320000,3.270963e+08,95.482594
Indonesia,South-eastern Asia,Asia,196000000,2.676705e+08,73.224344
Brazil,South America,Americas,160010801,2.094693e+08,76.388656
...,...,...,...,...,...
"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,2906,6.035000e+03,48.152444
Falkland Islands,South America,Americas,2881,3.234000e+03,89.084725
Montserrat,Caribbean,Americas,2833,4.993000e+03,56.739435
Wallis and Futuna,Polynesia,Oceania,1383,1.166100e+04,11.860046
Niue,Polynesia,Oceania,1034,1.620000e+03,63.827160

In [21]:
df # inplace= True uapmadığımız için değişiklik kalıcı olmadı.Yanda sayısal indexler hala görünüyor.

,Country or area,Subregion,Region,Internet users,Population,InternetRate(%)
0,China,Eastern Asia,Asia,1010740000,1.427648e+09,70.797574
1,India,Southern Asia,Asia,833710000,1.352642e+09,61.635660
2,United States,Northern America,Americas,312320000,3.270963e+08,95.482594
3,Indonesia,South-eastern Asia,Asia,196000000,2.676705e+08,73.224344
4,Brazil,South America,Americas,160010801,2.094693e+08,76.388656
...,...,...,...,...,...,...
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,2906,6.035000e+03,48.152444
210,Falkland Islands,South America,Americas,2881,3.234000e+03,89.084725
211,Montserrat,Caribbean,Americas,2833,4.993000e+03,56.739435
212,Wallis and Futuna,Polynesia,Oceania,1383,1.166100e+04,11.860046
213,Niue,Polynesia,Oceania,1034,1.620000e+03,63.827160

In [22]:
df.set_index("Country or area", inplace=True)

In [23]:
df # artık indexlerimiz "Country or area" sütunu yani isteğimiz ülke satırına ulaşabiliriz.

,Subregion,Region,Internet users,Population,InternetRate(%)
Country or area,,,,,
China,Eastern Asia,Asia,1010740000,1.427648e+09,70.797574
India,Southern Asia,Asia,833710000,1.352642e+09,61.635660
United States,Northern America,Americas,312320000,3.270963e+08,95.482594
Indonesia,South-eastern Asia,Asia,196000000,2.676705e+08,73.224344
Brazil,South America,Americas,160010801,2.094693e+08,76.388656
...,...,...,...,...,...
"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,2906,6.035000e+03,48.152444
Falkland Islands,South America,Americas,2881,3.234000e+03,89.084725
Montserrat,Caribbean,Americas,2833,4.993000e+03,56.739435
Wallis and Futuna,Polynesia,Oceania,1383,1.166100e+04,11.860046
Niue,Polynesia,Oceania,1034,1.620000e+03,63.827160

In [24]:
# Burada sütünlara isimleriyle zaten ulaşabiliyorduk ancak satıra ulaşmak için loc veya iloc kullanmamız gerekiyor.
# Bunun sebebi Pandas'ın sütun bazlı çalışan bir kütüphane olması
df.loc["Turkey"]

# burada seri olarak getirdi. satır halinde getirmek için çift parantez gerekiyor.

Subregion          Southern Europe
Region                      Europe
Internet users            69945905
Population              82340088.0
InternetRate(%)          84.947571
Name: Turkey, dtype: object

In [25]:
# satır ve sütun olarak da getirtebiliriz.Turkey satır, Internet users sütun
# burada satır için ayrı, sütun için ayri birer parantez gerekiyor çünkü sütun burada index değil
df.loc[["Turkey"], ["Internet users"]]

                 Internet users
Country or area
Turkey                 69945905

In [26]:
# birden fazla ülkeyi de df olarak getirebiliriz.Burada ikisi de index. 
#Dikkat!!! burada aynı parantezin içinde olsa da içiçe iki köşeli parantez gerekiyor, yoksa hata verir.
df.loc[["Turkey", "Brazil"]]

,Subregion,Region,Internet users,Population,InternetRate(%)
Country or area,,,,,
Turkey,Southern Europe,Europe,69945905,82340088.0,84.947571
Brazil,South America,Americas,160010801,209469323.0,76.388656

### "internet speeds" data seti

In [27]:
df=pd.read_csv("internet speeds.csv")

In [28]:
df

,Unnamed: 0,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,As of
0,0,Monaco,1.0,192.68,NaN,NaN,January 2022
1,1,Singapore,2.0,192.01,19.0,64.92,January 2022
2,2,Chile,3.0,"189,36",109.0,15.5,January 2022
3,3,Thailand,4.0,184.03,56.0,32.38,January 2022
4,4,Hong Kong (SAR),5.0,173.42,38.0,45.86,January 2022
...,...,...,...,...,...,...,...
174,174,Yemen,175.0,2.74,140.0,"0,53",January 2022
175,175,Ethiopia,176.0,2.69,78.0,22.83,January 2022
176,176,Cuba,177.0,1.9,119.0,12.71,January 2022
177,177,Turkmenistan,178.0,"1,89",139.0,3.09,January 2022
178,178,Afghanistan,179.0,1.62,138.0,5.1,January 2022

In [29]:
df.info()
# burada nan değerlere ve object görünen sayısal sütunlara bakıyoruz.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            179 non-null    int64
 1   Country               179 non-null    object
 2   Broadband Speed Rank  179 non-null    float64
 3   Broadband Mbps        179 non-null    object
 4   Mobile Speed Rank     139 non-null    float64
 5   Mobile Mbps           139 non-null    object
 6   As of                 179 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 9.9+ KB

In [30]:
df.columns  # column isimlerinden emin olmak için yazdık.

Index(['Unnamed: 0', 'Country', 'Broadband Speed Rank', 'Broadband Mbps',
       'Mobile Speed Rank', 'Mobile Mbps', 'As of'],
      dtype='object')

In [31]:
# Öncelikle Unnamed sütununu düşürelim.
df.drop("Unnamed: 0", axis =1, inplace=True) # sütunda olduğu için axis=1

In [32]:
df

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,As of
0,Monaco,1.0,192.68,NaN,NaN,January 2022
1,Singapore,2.0,192.01,19.0,64.92,January 2022
2,Chile,3.0,"189,36",109.0,15.5,January 2022
3,Thailand,4.0,184.03,56.0,32.38,January 2022
4,Hong Kong (SAR),5.0,173.42,38.0,45.86,January 2022
...,...,...,...,...,...,...
174,Yemen,175.0,2.74,140.0,"0,53",January 2022
175,Ethiopia,176.0,2.69,78.0,22.83,January 2022
176,Cuba,177.0,1.9,119.0,12.71,January 2022
177,Turkmenistan,178.0,"1,89",139.0,3.09,January 2022
178,Afghanistan,179.0,1.62,138.0,5.1,January 2022

In [33]:
# As of sütununun deüerlerine bakıyoruz. Eğer tek bir değer varsa gereksizdir diyerek onu da düşüreceğiz.
df["As of"].value_counts()

January 2022    179
Name: As of, dtype: int64

In [34]:
# As of tek değer olduğu için düşürüyoruz.
df.drop("As of", axis=1, inplace=True)

In [35]:
df

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps
0,Monaco,1.0,192.68,NaN,NaN
1,Singapore,2.0,192.01,19.0,64.92
2,Chile,3.0,"189,36",109.0,15.5
3,Thailand,4.0,184.03,56.0,32.38
4,Hong Kong (SAR),5.0,173.42,38.0,45.86
...,...,...,...,...,...
174,Yemen,175.0,2.74,140.0,"0,53"
175,Ethiopia,176.0,2.69,78.0,22.83
176,Cuba,177.0,1.9,119.0,12.71
177,Turkmenistan,178.0,"1,89",139.0,3.09
178,Afghanistan,179.0,1.62,138.0,5.1

In [36]:
#Object olanların type'ını değiştiriyoruz.Önce sayılarda virgül varsa onları değiştiriyoruz.
#Ondalık sayı ise virgülü noktaya çeviriyoruz.
#Öncekinde apply kullanmıştık. Bu sefer str.replace() kullanıyoruz.Yine kndine eşitliyoruz.
df["Broadband Mbps"]=df["Broadband Mbps"].str.replace(",",".")

In [37]:
df

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps
0,Monaco,1.0,192.68,NaN,NaN
1,Singapore,2.0,192.01,19.0,64.92
2,Chile,3.0,189.36,109.0,15.5
3,Thailand,4.0,184.03,56.0,32.38
4,Hong Kong (SAR),5.0,173.42,38.0,45.86
...,...,...,...,...,...
174,Yemen,175.0,2.74,140.0,"0,53"
175,Ethiopia,176.0,2.69,78.0,22.83
176,Cuba,177.0,1.9,119.0,12.71
177,Turkmenistan,178.0,1.89,139.0,3.09
178,Afghanistan,179.0,1.62,138.0,5.1

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               179 non-null    object
 1   Broadband Speed Rank  179 non-null    float64
 2   Broadband Mbps        179 non-null    object
 3   Mobile Speed Rank     139 non-null    float64
 4   Mobile Mbps           139 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.1+ KB

In [39]:
# Vifgüllerden kurtulduktan sonra Broadband Mbps'yi float yapabiliriz.
df["Broadband Mbps"]=df["Broadband Mbps"].astype("float64")

In [40]:
df.info()  # dönüştürdük.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               179 non-null    object
 1   Broadband Speed Rank  179 non-null    float64
 2   Broadband Mbps        179 non-null    float64
 3   Mobile Speed Rank     139 non-null    float64
 4   Mobile Mbps           139 non-null    object
dtypes: float64(3), object(2)
memory usage: 7.1+ KB

In [41]:
#Şimdi Mobile Mbps değişkeninin türünü değiştireceğiz. Ancak nan değerleri var.
# doğrudan astype yapınca aynı zamanda virgüllü ifade olduğu yönünde hata da veriyor.
df["Mobile Mbps"]=df["Mobile Mbps"].str.replace(",", ".")

In [42]:
df["Mobile Mbps"]  # şimdi sadece NaN değerler kaldı.

0        NaN
1      64.92
2       15.5
3      32.38
4      45.86
       ...
174     0.53
175    22.83
176    12.71
177     3.09
178      5.1
Name: Mobile Mbps, Length: 179, dtype: object

In [43]:
df["Mobile Mbps"]=df["Mobile Mbps"].astype("float64") # yine kendisine eşitliyoruz.
# NaN değerler float göründüğü için NaN değerler varken float dönüşümünde hata vermiyor.

In [44]:
# Böylece Mobile Mbps değişkeni de float64 oldu.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               179 non-null    object
 1   Broadband Speed Rank  179 non-null    float64
 2   Broadband Mbps        179 non-null    float64
 3   Mobile Speed Rank     139 non-null    float64
 4   Mobile Mbps           139 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.1+ KB

In [45]:
df.head()

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps
0,Monaco,1.0,192.68,NaN,NaN
1,Singapore,2.0,192.01,19.0,64.92
2,Chile,3.0,189.36,109.0,15.50
3,Thailand,4.0,184.03,56.0,32.38
4,Hong Kong (SAR),5.0,173.42,38.0,45.86

In [46]:
# Ortalama internet hızı için yeni bir sütun oluşturacağız.
df["Average Internet Speed"] = (df["Broadband Mbps"] + df["Mobile Mbps"]) / 2

In [47]:
df

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,Average Internet Speed
0,Monaco,1.0,192.68,NaN,NaN,NaN
1,Singapore,2.0,192.01,19.0,64.92,128.465
2,Chile,3.0,189.36,109.0,15.50,102.430
3,Thailand,4.0,184.03,56.0,32.38,108.205
4,Hong Kong (SAR),5.0,173.42,38.0,45.86,109.640
...,...,...,...,...,...,...
174,Yemen,175.0,2.74,140.0,0.53,1.635
175,Ethiopia,176.0,2.69,78.0,22.83,12.760
176,Cuba,177.0,1.90,119.0,12.71,7.305
177,Turkmenistan,178.0,1.89,139.0,3.09,2.490
178,Afghanistan,179.0,1.62,138.0,5.10,3.360

In [48]:
# Ortalamaİnternet hızına göre verileri sıralayalım.sort_values
df.sort_values("Average Internet Speed")

# burada default olarak küçükten büyüğe

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,Average Internet Speed
174,Yemen,175.0,2.74,140.0,0.53,1.635
177,Turkmenistan,178.0,1.89,139.0,3.09,2.490
178,Afghanistan,179.0,1.62,138.0,5.10,3.360
172,Sudan,173.0,3.28,133.0,7.83,5.555
160,Venezuela,161.0,7.15,136.0,5.99,6.570
...,...,...,...,...,...,...
165,Burundi,166.0,5.44,NaN,NaN,NaN
167,Swaziland,168.0,4.94,NaN,NaN,NaN
168,Djibouti,169.0,4.71,NaN,NaN,NaN
170,Niger,171.0,3.85,NaN,NaN,NaN
171,Guinea,172.0,3.79,NaN,NaN,NaN

In [49]:
# büyükten küçüğe sıralamak için ascending=False
df=df.sort_values("Average Internet Speed", ascending=False)

In [50]:
df

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,Average Internet Speed
1,Singapore,2.0,192.01,19.0,64.92,128.465
5,Denmark,6.0,163.60,8.0,87.11,125.355
14,United Arab Emirates,15.0,111.79,1.0,135.62,123.705
7,China,8.0,155.79,9.0,85.83,120.810
16,Norway,17.0,105.61,2.0,118.44,112.025
...,...,...,...,...,...,...
165,Burundi,166.0,5.44,NaN,NaN,NaN
167,Swaziland,168.0,4.94,NaN,NaN,NaN
168,Djibouti,169.0,4.71,NaN,NaN,NaN
170,Niger,171.0,3.85,NaN,NaN,NaN
171,Guinea,172.0,3.79,NaN,NaN,NaN