In [1]:
# Print
print("Hello World")

Hello World

In [2]:
# Format
x = 15
y = 20

print("birinci sayı x: {}\nikinci sayı y: {}".format(x, y))

birinci sayı x: 15
ikinci sayı y: 20

In [4]:
# SORU 1:
adet = 3
urun_no = 567
fiyat = 49
#siparis =  ... numarılı urunden .... adetin fiyatı ...... liradır.

In [6]:
siparis = "{} numarılı urunden {} adetin fiyatı {} liradır"
print(siparis.format(urun_no, adet, fiyat * adet))

567 numarılı urunden 3 adetin fiyatı 147 liradır

In [10]:
print("{} numarılı urunden {} adetin fiyatı {} liradır".format(urun_no, adet, fiyat * adet))

567 numarılı urunden 3 adetin fiyatı 147 liradır

In [11]:
# Soru 2
#   "One year has {} months, {} weeks and {} days."

str = "One year has {} months, {} weeks and {} days.".format(12, 52, 365)
print(str)

One year has 12 months, 52 weeks and 365 days.

In [12]:
print("One year has {} months, {} weeks and {} days.".format(12, 52, 365))

One year has 12 months, 52 weeks and 365 days.

In [19]:
# input method
lucky_number = input("please enter your lucky number: ")
print("your luck number is: {}".format(lucky_number))

please enter your lucky number:  100000

your luck number is: 100000

In [ ]:
# name = input ile sor
#print "Hello!, name"
name = input("Please enter your name")
str = "Hello!, {}".format(name)

 john

In [24]:
print(str)

Hello!, john

In [34]:
# Soru 3
# join()
addresses=("Mr.Hathaway", "amymail.com") # add @
## Mr.Hathaway@amymail.com
email = "@".join(addresses)

print(email)

Mr.Hathaway@amymail.com

In [38]:
# SORU 5: JOIN METODUNU KULLANARAK lİSTE İÇİNDEKİ STRING İFADELERİ ALT ALTA OLACAK ŞEKİLDE BİRLEŞTİRİN..
poem_lst=["Not enjoyment, and not sorrow,", "Is our destined end or way;",
 "But to act, that each tomorrow", "Find us farther than today."]

poem_str = "\n".join(poem_lst)
print(poem_str)

Not enjoyment, and not sorrow,
Is our destined end or way;
But to act, that each tomorrow
Find us farther than today.

In [39]:
# SORU 6: JOIN METODUNU KULLANARAK lİSTE İÇİNDEKİ STRING İFADELERİ ARALARDA "-" OLACAK ŞEKİLDE BİRLEŞTİRİN..
list1 = ['1','2','3','4','5'] 

s = "-"
s = s.join(list1)

print(s)

1-2-3-4-5

In [50]:
# Split 
# SORU 7: SPLIT METODUNU UYGULAYARAK AŞAĞIDAKİ STRING İFADEYİ NASIL BÖLEBİLİRİZ?
str="Hello World!"
lst = str.split(" ")
print(lst)

['Hello', 'World!']

In [51]:
# SORU 8: SPLIT METODUNU UYGULAYARAK AŞAĞIDAKİ STRING İFADEYİ NASIL BÖLEBİLİRİZ?
str="101:102:103:201:202"
lst = str.split(":")

print(lst)

['101', '102', '103', '201', '202']

In [52]:
# SORU 9: SPLIT METODUNU UYGULAYARAK AŞAĞIDA YER ALAN MEYVELERİ NASIL BÖLEBİLİRİZ?
meyveler="elma,armut,erik,kayısı"

meyveler = meyveler.split(",")
print(meyveler)

['elma', 'armut', 'erik', 'kayısı']

In [53]:
# PYTHON STRIP METHOD
# SORU 10: STRIP METODUNU UYGULAYARAK AŞAĞIDA YER ALAN STRING IFADENİN SAĞINDAKİ VE SOLUNDAKİ BOŞLUKLARI NASIL SİLEBİLİRİZ?
str=" Hello World! "
str = str.strip(" ")
print(str)

Hello World!

In [61]:
# SORU 11: STRIP METODUNU UYGULAYARAK AŞAĞIDA YER ALAN STRING IFADENİN SAĞINDAKİ VE SOLUNDAKİ ifadeleri NASIL SİLEBİLİRİZ?
str="#$^&#@%$& Babylon #@$&@-#"

str = str.strip("#$^&@%$&-")

print(str)

 Babylon

In [63]:
# SORU 12: SPLIT VE STRIP METODUNU UYGULAYARAK AŞAĞIDA YER ALAN STRING İFADELERİ NASIL ÇIKARABİLİRİZ?
# (Macroeconomics) (Derivatives)
str="......Macroeconomics,...........Derivatives"
# print only Macroeconımics  use split and strip at same time
lst = str.split(",")
#macro = lst[0].strip(".")

print(lst)

['......Macroeconomics', '...........Derivatives']

In [67]:
macro = lst[0].strip(".")
derivatis = lst[1].strip(".")
print(macro, derivatis)

Macroeconomics Derivatives

In [72]:
lst = str.split(",")[1].strip(".")
print(lst)

Derivatives

In [75]:
# CONDITIONALS: IF-ELSE
# SORU 13: a ve b değişkenine farklı sayılar atayalım ve IF , ELIF Fonksiyonu ile a ve b değişkeninin durumuna bağlı
# olarak "b büyüktür a dan" yada "b küçüktür a dan" şekli ile bir sonuç nasıl alabiliriz?
a = 8
b = 9 

#if, elif
#print("b büyüktür a dan", "a büyüktür b den")

if b > a:
    print("b büyüktür a dan")
elif b < a:
    print("b küçüktür a dan")

b büyüktür a dan

In [77]:
# SORU 14: Bir yaş değişkeni oluşturalım.
# Bu yaş değişkenini IF - ELIF fonksiyonunu kullanarak
# YAS 18 VE KÜÇÜK SE "ERGENSİNİZ" 19 YAŞ VE ÜZERİDE "DAHA ÇOK GENÇSSİNİZ" çıktı almasını sağlayalım.

yas = 19

if yas <= 18:
    print("ergensiniz")
elif yas > 18:
    print("daha çok gençsiniz")

daha çok gençsiniz

In [81]:
# SORU 15: Bir yaş değişkeni oluşturalım.
# Bu yaş değişkenini IF - ELIF - ELSE fonksiyonunu kullanarak
# 18 YAŞTAN KÜÇÜKSE "Ergensiniz"
# 18 YAŞ (DAHİL) VE 66 YAŞ ARASI İSE "GENÇSİNİZ"
# 66 YAŞ (DAHİL) VE 79 YAŞ ARASI İLE "ORTA YAŞLISINIZ"
# 80 YAŞ (DAHİL) VE 100 YAŞ ARASI İSE YAŞLISINIZ
# BELİRTİLEN YAŞLARDAN BAŞKA BİR YAŞ GİRİLİRSE "YAŞ GRUBUNUZU BELİRLEYEMEDİK" çıktısını nasıl alabiliriz?

yas = 32

if yas < 18:
    print("Ergensiniz")
elif yas >= 18 and yas < 66:
    print("Gençsiniz")
elif yas >= 66 and yas < 79:
    print("Orta Yaslısınız")
elif yas >= 79 and yas < 100:
    print("Yaslısınız")
else:
    print("Yas Grubunuzu Belirleyemedik")

Gençsiniz

In [86]:
# Input and IF
# INPUT fonksiyonu ile kullanıcıdan ismini girmesini talep edeceğiz.
# Eğer ismi "Bond" ise "Welcome on board 007" yazsızn
# Başka bir isim ise "Good Morning + (yazılan isim)" yazsın
# input, if, else, elif

name = input("Please enter your name ")   # THE, the, The,
if name == "Bond":
    print("Welcome on board 007")
else:
    print("Good Morning " + name)

Please enter your name  bond

Good Morning bond

In [85]:
name = input("Please enter your name ")
if name == "Bond":
    print("Welcome on board 007")
else:
    print("Good Morning " + name)

Please enter your name  Isaac

Good Morning Isaac

In [89]:
# SORU 17: tuttuğum sayı diye bir değişken belirleyip bunun içerisine bir sayı atayacağız. Daha sonra
# INPUT fonksiyonu ile kullanıcıdan bir sayı tutmasını talep edeceğiz.
# "Aklımdan bir sayı tuttum. Bil bakalım kaç tuttum?"
# Input olarak girilen sayı bizim belirlediğimiz sayı ile aynı ise
# "Tebrikler! Bildiniz.."
# Bilemediyse "Ne yazık ki tutuğum sayı bu değildi" şeklinde yazdıracağız. 

#x = ......
#input(Aklımdan bir sayı tuttum. Bil bakalım kaç tuttum?)

tuttugum_sayı = 23

bilbakalım = int(input("Aklımdan bir sayı tuttum. Bil bakalım kac tuttum? "))

if bilbakalım == tuttugum_sayı:
    print("Tebrikler! Bildiniz...")
    
else:
    print("Ne yazık ki ttutgum sayı bu degildi")

Aklımdan bir sayı tuttum. Bil bakalım kac tuttum?  42

Ne yazık ki ttutgum sayı bu degildi

In [91]:
# PYTHON FOR LOOP
# SORU 18: Aşağıdaki listede yer alan hayvanları FOR döngüsü ile listeden tek tek nasıl çıkarabiliriz?
lst=["koala", "cat", "fox", "panda", "chipmunk", "sloth", "penguin", "dolphin"]
for d in lst:
    print(d)

koala
cat
fox
panda
chipmunk
sloth
penguin
dolphin

In [92]:
# SORU 19: Aşağıdaki listede yer alan isimleri FOR döngüsü ile listeden tek tek nasıl çıkartıp
# başına "Hello!" ibaresi ekleyelim
lst=["Sam", "Lisa", "Micha", "Dave", "Wyatt", "Emma", "Sage"]
for i in lst:
    print("Hello!, " + i)

Hello!, Sam
Hello!, Lisa
Hello!, Micha
Hello!, Dave
Hello!, Wyatt
Hello!, Emma
Hello!, Sage

In [93]:
# SORU 20: Aşağıdaki string ifadesindeki harfleri for döngüsü ile alt alt nasıl ekleyebiliriz?
str="Antarctica"
for i in str:
    print(i, end = "\n")

A
n
t
a
r
c
t
i
c
a

In [95]:
str="Antarctica"
for i in str:
    print(i, end = ", ")

A, n, t, a, r, c, t, i, c, a,

In [96]:
#SORU 21: Aşağıdaki string ifadesinde yer alan rakamların içinde
# 3 ten büyük olanların for döngüsü ile nasıl çıktısını alabiliriz?
sayılar = "123456789"

for i in sayılar:
    if int(i) > 3:
        print(i)

4
5
6
7
8
9

In [98]:
# SORU 22: Range modülünü kullanarak 20 den 3 e kadar olan rakamları geriye doğru 3 er 3 er atlayarak nasıl yazabiliriz
for i in range(20, 3, -3):
    print(i)

20
17
14
11
8
5

In [99]:
for i in range(3, 20, 3):
    print(i)

3
6
9
12
15
18

In [100]:
# # SORU 23: for döngüsünü kullanarak 1’den 101’e kadar olan aralıktaki çift sayıları nasıl bulursunuz?
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100