# Python Crash Course

### Data types

In [2]:
# Integer
type (1)

int

In [4]:
# Float
type(2.0)

float

In [5]:
# String
type("word")

str

In [7]:
# Boolean: True or False
type(1+1==2)

bool

In [8]:
type(1+1==3)

bool

In [69]:
True # boolean

True

In [70]:
False # boolean

False

### Mathematical Expressions

In [10]:
11+19

30

In [11]:
24*234

5616

In [12]:
7658/124

61.75806451612903

In [13]:
#Exponents (**)
6**2

36

In [15]:
# Remainder (%)
10 % 2 # What is the remainder when 10 is divided by 2?

0

In [17]:
167 % 12

11

In [18]:
# Order
25 + 15 * 3 + 5  # 25 + (15*3) +5

75

In [19]:
25 + (15*3) +5

75

In [20]:
(25 + 15) * (3 + 5)

320

In [21]:
var = 5

In [22]:
x = 3
y = 5

In [23]:
x+y

8

### Strings

In [25]:
'single quote'

'string'

In [26]:
"double quote"

'double quote'

In [27]:
"It is up to you!"

'It is up to you!'

In [33]:
'However, don't use single quote in this case, that is, together with another apostrophe'

SyntaxError: invalid syntax (3754285910.py, line 1)

In [30]:
"Instead, use double quote because there is an apostrophe in don't"

"Insted, use double qupte because there is an apostroph in don't"

In [31]:
"hello world"

'hello world'

In [32]:
print("hello world") # see the difference in output

hello world

### format()

In [34]:
print("My name is {}".format("Julia"))

My name is Julia

In [38]:
print("My name is {} and I am {} years old".format("Julia", "35"))

My name is Julia and I am 35 years old

In [41]:
print("My name is {} and I am {} years old".format("Julia", 35))

My name is Julia and I am 35 years old

In [39]:
# without using print()
"My name is {} and I am {} years old".format("Julia", "35")

'My name is Julia and I am 35 years old'

In [42]:
print("First: {}, Second: {}".format("A","B"))

First: A, Second: B

In [44]:
print("First: {x}, Second: {y}".format(x="A", y="B"))

First: A, Second: B

In [45]:
# reverse the order
print("First: {y}, Second: {x}".format(x="A", y="B"))

First: B, Second: A

### Lists [ ] 

* The list is a datatype available in Python which can be written as a list of comma-separated values (items) between square brackets.
* List are mutable .i.e it can be converted into another data type and can store any data element in it.
* List can store any type of element.

In [46]:
[11,22,33]

[11, 22, 33]

In [47]:
["string", "number", "together"]

['string', 'number', 'together']

In [48]:
["x", 3, 5, "Y"]

['x', 3, 5, 'Y']

In [49]:
mylist= ["a", 13, 41, "b", "z"]

In [50]:
# Indexing: show the first item
mylist[0]

'a'

In [51]:
# the list item on the list
mylist[4]

'z'

In [52]:
# or
mylist[-1]

'z'

In [54]:
# Replace the first item a with X 
mylist[0]="X"
mylist

['X', 13, 41, 'b', 'z']

#### append()

In [55]:
# add an item to the list
mylist.append("Y")

In [56]:
mylist

['X', 13, 41, 'b', 'z', 'Y']

In [58]:
# nested list: list inside the list
newlist= [6,7, [11,22,33], 8]
newlist

[6, 7, [11, 22, 33], 8]

In [59]:
# reach the list inside the list
newlist[2]

[11, 22, 33]

In [60]:
#how to reach 33
newlist[2][2]

33

### Dictionaries { 'key' : 'value'}

In [63]:
d = {"age1": 10, "age2": 20}

In [65]:
# unlike the list there is no order
# to see the value use the key
d["age1"]

10

### Tuples ()

#### Tuples vs Lists: 
* The list structure is dynamic, and readily changed whereas the tuple structure is static and cannot be changed (immutable).
* This means that the tuple is generally faster than the list.
* Lists are denoted by square brackets [ ] and tuples are denoted with parenthesis ().

In [72]:
t=(7,8,9,10)

In [73]:
# Let's try to change the first element from 7 to 1
t[0] = 1

# Warning: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Sets {}

* Sets are an unordered collection of elements or unintended collection of items In python.
* Here the order in which the elements are added into the set is not fixed, it can change frequently.
* It is defined under curly braces{}
* Sets are mutable, however, only immutable objects can be stored in it.

In [76]:
# It looks like a dictionat but there is no key:value pairs
s={11,12,13}

In [78]:
type(s)

set

In [80]:
# It displays only the unique elements
s2={1,2,3,4,5,4,3,2,1,1,1}
s2

{1, 2, 3, 4, 5}

In [84]:
# Creating a Set with the use of a List 
s3 = set(["Is", "this", "a", "List", "?"]) 
print("\nSet with the use of List: ") 
print(s3)

Set with the use of List:
{'this', 'a', 'List', 'Is', '?'}

In [85]:
type(s3)

set